body {
  background-color: #131722;
  color: #FFF;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.navbar .navbar-brand, .navbar-nav .nav-item .nav-link, .active{
  color: #FFF;
}
.secondColor{
  color: #949cb0;
}
